<li id="document_<%= document.to_param %>" class="document <%= render_document_class document %>" itemscope itemtype="<%= document.itemtype %>">
  <%= render_document_partials document, blacklight_config.view_config(document_index_view_type).partials, document_counter: document_counter %>

  <div class="thumbnail_block">
    <%= image_tag "#{document._source["thumbnail_path_ss"]}",
                  class: "representative-media",
                  alt: "",
                  role: "presentation" %>
  </div>
</li>
